<div class="info-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
        <mat-card-content>
          <mat-card-title class="card-title">User info : </mat-card-title>
          <mat-card-subtitle>{{user_session.first_name}} {{user_session.last_name}}</mat-card-subtitle>
          <mat-card-subtitle>{{user_session.username}}</mat-card-subtitle>
        </mat-card-content>
    </mat-card-header>

    <mat-card-content>
      <mat-card style="background-color:lightblue">
        <div><mat-label>Gender :</mat-label> {{user_session.gender}}</div>
        <div><mat-label>Country :</mat-label> {{user_session.country}}</div>
      </mat-card>
      <mat-card style="background-color: bisque">
        <div><mat-label>Login role :</mat-label> {{user_session.role_type}}</div>
        <div><mat-label>User category :</mat-label> {{user_session.user_category}}</div>
      </mat-card>
      <mat-card style="background-color: thistle">
        <div class="password-container"><div class="password-label"><mat-label>Password :</mat-label></div> <div class="password-value">{{user_session.password}}</div></div>
        <div><mat-label>Secret question :</mat-label> {{user_session.secret_question}}</div>
        <div><mat-label>Secret answer :</mat-label> {{user_session.encoded_secret_answer}}</div>
        <div><mat-label>Secret custom question :</mat-label> {{user_session.encoded_custom_secret_question}}</div>
        <div><mat-label>Secret custom answer :</mat-label> {{user_session.encoded_custom_secret_answer}}</div>
      </mat-card>
    </mat-card-content>

    <mat-card-footer>
      update password
    </mat-card-footer>

  </mat-card>
</div>

