.box {
  width: 100%;
  padding: 10px 10px 10px 10px;
  background: #fff;
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 600px;
}
.breakword {
  word-break: break-all;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.card-title {
  font-size: 14px;
}
.mat-card-header {
  width: 500px;
  height: 200px;
  padding: 0;
  margin: 0;
  align-items: normal;
  justify-content: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.mat-card-header-text {
  height: auto;
  margin: 0;
}
