<div class="info-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
        <mat-card-content>
          <mat-card-title class="card-title">User info : </mat-card-title>
          <mat-card-subtitle>{{user_session.first_name}} {{user_session.last_name}}</mat-card-subtitle>
          <mat-card-subtitle>{{user_session.username}}</mat-card-subtitle>
        </mat-card-content>
    </mat-card-header>

    <mat-card-content>
      <mat-card style="background-color:lightblue">
        <div><mat-label><b>Gender :</b></mat-label>{{user_session.gender}}</div>
        <div><mat-label><b>Country :</b></mat-label>{{user_session.country}}</div>
      </mat-card>
      <mat-card style="background-color: bisque">
        <div><mat-label><b>Login role :</b></mat-label>{{user_session.role_type}}</div>
        <div><mat-label><b>User category :</b></mat-label>{{user_session.user_category}}</div>
      </mat-card>
      <mat-card style="background-color: thistle">
        <div><mat-label><b>Secret question :</b></mat-label>{{user_session.secret_question}}</div>
        <div><mat-label><b>Secret answer :</b></mat-label>{{user_session.encoded_secret_answer}}</div>
        <div><mat-label><b>Secret custom question :</b></mat-label>{{user_session.encoded_custom_secret_question}}</div>
        <div><mat-label><b>Secret custom answer :</b></mat-label>{{user_session.encoded_custom_secret_answer}}</div>
      </mat-card>
    </mat-card-content>

    <mat-card-footer>
      update password
    </mat-card-footer>

  </mat-card>
</div>

