<mat-toolbar color="primary" class="app-header">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-around center">
    <div>
      <div id="hamburger-menu-icon" class="hamburger hamburger--squeeze" [ngClass]="{'is-active' :isOpen}" (click)="onToggleSidenav()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </div>
    <div fxFlex fxLayoutAlign="end" fxFlexAlign="middle" fxHide.gt-xs>
      <mat-card-title class="title-app">Trailerplan</mat-card-title>
    </div>
    <div fxFlex fxLayoutAlign="end" fxLayout="row" fxFlexAlign="middle">
      <mat-icon routerLink="/info">person</mat-icon>
    </div>
  </div>
</mat-toolbar>

