.dialog-header {
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}
::ng-deep.dialog-box {
  mat-dialog-container {
    padding: 10px 10px 10px 10px;
    background: #FFFFFF;
    position: relative;
    width: 480px;
    height: 180px;
    top: 0;
    opacity: 1;
    float: left;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
  }
}
